*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;

    section:hover{
        flex-grow: 2;
    }

    section {
        height: 100%;
        flex-grow: 1;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
        
    }
    section:nth-child(1){
        background-image: url('/dustin.jpg');
    }
    section:nth-child(2){
        background-image: url('/Will.jpg');
    }
    section:nth-child(3){
        background-image: url('/vecea.jpg');
    }
    section:nth-child(4){
        background-image: url('/Mike.jpg');
    }
    section:nth-child(5){
        background-image: url('/Eleven.jpg');
    }
}